#navbar {
  padding: 0;
  margin: 0;
  max-width: 1366px;
  min-width: 375px;
  height: 100px;
}

#hero {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 500px;
}

#servicios {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 100%;
}

#informacion {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 100%;
}

#portada {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 500px;
}

#title {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 100%;
}

#integrantes {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 100%;
}

#contacto {
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-width: 375px;
  height: 100px;
}

#hero1 {
  height: 500px;
  min-width: 375px;
  max-width: 1366px;
}

#hero2 {
  height: 500px;
  min-width: 375px;
  max-width: 1366px;
}

#hero3 {
  height: 500px;
  min-width: 375px;
  max-width: 1366px;
}

#banner_hero {
  background-color: rgba(0, 18, 133, 0.6);
  position: absolute;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  top: 0px;
}

#hero {
  position: relative;
}

#sec_2 {
  background-color: rgba(156, 156, 156, 0.5);
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #001285;
}

#sec_3 {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #001285;
}

#sec_4 {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #001285;
}

.rombo {
  clip-path: polygon(50% 0%, 85% 50%, 50% 100%, 15% 50%);
}

#sec_5 {
  background-color: #001285;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}

.portada {
  background-image: url("../img/escribir.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.portada::before {
  content: "";
  width: 50%;
  min-height: 500px;
  position: absolute;
  background: linear-gradient(90deg, #fbff00, rgba(252, 252, 252, 0));
  opacity: 0.3;
}

.title {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #001285;
}

#sec_6 {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #001285;
}

#sec_7 {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #001285;
}

#contacto {
  background-image: url(../img/archivo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
}
#contacto::before {
  content: "";
  width: 100%;
  min-height: 500px;
  position: absolute;
  background-color: rgba(0, 18, 133, 0.6);
}

#sec_8 {
  background-color: rgba(0, 18, 133, 0.6);
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: #ffffff;
}

#sec_9 {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: #ffffff;
}

/*# sourceMappingURL=eslilos.css.map */
